@{
    ViewData["Title"] = "Zhakar SSH";
    Layout = null;

}



<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>GuestProfile</title>
        <link rel="stylesheet" href="~/css/homePage.css" />
    </head>
    <body>
        
        <div class="header">
            <div class="header-sub-container">
                ZHAKAR-SSH
            </div>
            <div class="header-sub-container">
                <a href="/reg">
                    <div>Registration</div>
                </a>
                <a href="/login">
                    <div>Login</div>
                </a>
                
            </div>
            
        </div>
        <div class="container">
            ZHAKAR-SSH
        </div>
    </body>
    
</html>