
@{
    Layout = "Header";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Proflile</title>
    <link rel="stylesheet" href="~/css/userProfile.css" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <div class="container">
        <div class="img-col">
            <div class="img-title">Photo</div>
            <div class="img-container">
                
                    <img src="~/static/default_user.png" id="profile_photo"/>
                
            </div>
            <form >
                <label for="file-upload" class="custom-file-upload">
                    <i class="fa fa-cloud-upload"></i> Upload Photo
                </label>
                <input id="file-upload" type="file" onchange="fileUpload()"/>
            </form>
            <button onclick="editButtonClick(event)">Edit Profile</button>

        </div>
        <div class="info-col">
            <div class="info-title">User Information</div>
            <div class="row-container">
                <div class="info-row">
                    <div class="info-row-item">
                        Name:
                    </div>
                    <div class="info-row-item" id="name_field">
                        Name
                    </div>
                </div>
                <div class="info-row">
                    <div class="info-row-item">
                        LastName:
                    </div>
                    <div class="info-row-item" id="lastname_field">
                        LastName
                    </div>
                </div>

                <div class="info-row">
                    <div class="info-row-item">
                        Nickname:
                    </div>
                    <div class="info-row-item" id="nickname_field">
                        NickName
                    </div>
                </div>
                <div class="info-row">
                    <div class="info-row-item" >
                        Email:
                    </div>
                    <div class="info-row-item" id="email_field">
                        Email Address
                    </div>
                </div>

            </div>

            <div class="row-container" id="edit-container">

                <div class="info-row">
                    <div class="info-row-item">
                        Name:
                    </div>
                    <div class="info-row-item">
                        <input type="text" id="name-input" />
                    </div>
                </div>
                <div class="info-row">
                    <div class="info-row-item">
                        LastName:
                    </div>
                    <div class="info-row-item">
                        <input type="text" id="lastname-input" />
                    </div>
                </div>

                <div class="info-row">
                    <div class="info-row-item">
                        Nickname:
                    </div>
                    <div class="info-row-item">
                        <input type="text" id="nickname-input" />

                    </div>
                </div>
                <div class="info-row">
                    <div class="info-row-item">
                        Email:
                    </div>
                    <div class="info-row-item">
                        <input type="text" id="email-input" />

                    </div>
                </div>
                <div class="info-row">
                    <button onclick="saveButtonClick()">Save</button>
                </div>





            </div>




        </div>
    </div>
    <script defer src="~/js/profile.js"></script>

</body>
</html>
