
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.10.0.css">

    <script  type="text/javascript" src="~/js/signalr/dist/browser/signalr.min.js"></script>

    <!-- Файл ваших тестов -->


    <title>Tests</title>
</head>
<body>
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    <script src="https://code.jquery.com/qunit/qunit-2.10.0.js"></script>
    <script defer type="text/javascript" src="~/js/tests.js"></script>
    <script type="text/javascript" src="~/js/profile.js"></script>
    <script type="text/javascript" src="~/js/header.js"></script>
    <script type="text/javascript" src="~/js/terminal.js"></script>



</body>
</html>
